body{
        padding: 0;
        margin: 0;
        font-family:'Roboto', sans-serif;
    }    

header{
    height:10%;
    background-color: rgba(0,0,0,0.01);
    width: 100%;
    z-index: 12;
    position: fixed;
   
}

nav{
    float:right;
    text-decoration: none;
    line-height:120px;
    width:40%;
    
}
nav a{
    padding: 3%;
    border-radius:5%;
    text-decoration: none;
    font-family:Helvetica;
    font-size: 150%;
    letter-spacing: 2%;
    font-size:170%;
    position: static;
    background: linear-gradient(-45deg, #F2B705 ,#F27405 ,#F27405) ;
    margin: 50px;
    color: #fff;
    transition: 0.6s;
}
nav a:hover{
     background-position:right;
     box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
}

.container{ 
	
	justify-content: center;
	align-items: center;
    font-family: Century Gothic;
        
}  
.texto{

    margin: 0 auto;
    width: 40%;
    height: 40%;   
    align-items: center;
}

h1{
    
    top: 40%;
    left: 40%;
    padding:4% 4% ;
    letter-spacing: 2px;
    font-size:500%;
     
     
}
 
.titulo{
   background-color: rgba(0,0,0,0.50);
   width: 100%;
   height: 60%;
}
.logo{
    animation: movimiento 3s linear infinite;
}
 .boton{ 
     
     border: none;
     padding: 2%;
     margin: 5%;
     width: 20%;
     height: 5%;
     font-size:200%;
     font-family: "montserrat",sans-serif;
     color: #fff;
     text-transform: uppercase;
     border-radius: 6px;
     cursor: pointer;
     background-image: linear-gradient(to left, #12CBC4,#0652DD,#12CBC4);
     background-size: 200%;
     transition: 0.6s;
}
.boton:hover{
     background-position:right;
     box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
}  
.personajeBonito{
    float: left;    
    width: 20%;
    height: 35%;
    display: inline-block;
}     
.personajeBonito2{
    float: right;    
    width: 20%;
    height: 35%;
    display: inline-block;
} 
          
body{  
   height:100%;
   width:100%;
   text-align: center;
   background: linear-gradient(-45deg, #F2D22E ,#F2A81D ,#F27405, #BF0404) ;
  
   animation: anima 10s ease-in-out infinite;
   
}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top:12%;
    left: 42%;
    animation: animate 10s linear infinite;
    
}

.box div:nth-child(2){
    top:70%;
    left: 50%;
    animation: animate 7s linear infinite;
    
}

.box div:nth-child(3){
    top:17%;
    left: 6%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(4){
    top:20%;
    left: 60%;
    animation: animate 10s linear infinite;
    
}

.box div:nth-child(5){
    top:67%;
    left: 10%;
    animation: animate 6s linear infinite;
    
}


.box div:nth-child(6){
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;
    
}


.box div:nth-child(7){
    top:60%;
    left: 90%;
    animation: animate 15s linear infinite;
    
}

.box div:nth-child(8){
    top:32%;
    left: 25%;
    animation: animate 16s linear infinite;
    
}


.box div:nth-child(9){
    top:90%;
    left: 25%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(10){
    top:20%;
    left: 90%;
    animation: animate 5s linear infinite;
    
}
.box div:nth-child(11){
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;
    
}


.box div:nth-child(12){
    top:110%;
    left: 90%;
    animation: animate 15s linear infinite;
    
}

.box div:nth-child(13){
    top:110%;
    left: 25%;
    animation: animate 16s linear infinite;
    
}


.box div:nth-child(14){
    top:155%;
    left: 30%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(15){
    top:175%;
    left: 90%;
    animation: animate 5s linear infinite;
    
}
.box div:nth-child(16){
    top:185%;
    left: 20%;
    animation: animate 9s linear infinite;
    
}

.box div:nth-child(17){
    top:190%;
    left: 50%;
    animation: animate 5s linear infinite;
    
}
.box div:nth-child(18){
    top:175%;
    left: 40%;
    animation: animate 18s linear infinite;
    
}


.box div:nth-child(19){
    top:192%;
    left: 90%;
    animation: animate 15s linear infinite;
    
}

.box div:nth-child(20){
    top:165%;
    left: 80%;
    animation: animate 10s linear infinite;
    
}
 

@keyframes anima{
    0%{
        background-position: 0 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0 50%;
    }
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
    
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform:  translateY(30px);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@media screen and (max-width: 750px){
    nav a{
        font-size:80%;
        padding: 5%;
        margin: 0;
    }
    .pantalla{
        height: 100%;
    }
    .boton{
        font-size: 90%;
        width:90%;
        height: 80%;
    }
    h1{
        font-size: 200%;
    }
    .personajeBonito{
        height: 50%;
        width: 30%;
    }
    .personajeBonito2{
        height: 50%;
        width: 30%;
    }
    .texto{
        height: 100%;
        width: 100%;
    }
}